@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Architects Daughter', cursive;
}
.main {
    background-image: url("/images/wp1887972-phineas-and-ferb-wallpapers.jpg");
    height: 85.5vh;
    width: 100%;
    background-position: center center;
    background-size: cover;

}
h1 {
    text-align: center;
    background-color: rgb(119, 75, 75);
    margin: 0;
    color: #fff;
    padding: 1rem 0;

}
.container-center {
    max-width: 600px;
    margin: auto;
    padding: 1rem;
}
#input {
    width: 70%;
    margin: auto;
    display: block;
    margin-bottom: 1rem;
    height: 6rem;
    font-family: 'Architects Daughter', cursive;
    font-size: large;
    padding: 1rem;
}
.box {
    width: 70%;
    margin: auto;
    height: 6rem;
    border: 1px solid black;
    margin-top: 1rem;
    font-family:'Architects Daughter', cursive;
    font-size: large;
    padding: 1rem;
    background-color: #fff;
    color: black;
}
.btn {
    background-color:  #fff;
    border : none;
    padding: 0.5rem 0.8rem;
    font-family: 'Architects Daughter', cursive;
    font-size: larger;
    display: block;
}
p {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: #fff;
    color: #333;
    display: inline-block;
}
.mid {
    margin-left: 2.2rem;
}
